---
layout: default
---

<header>
  <img style="float:left; padding-right:20px;" alt="Pigeon graphic" src="../assets/images/pigeon-logo.png" height=100px>
  <span style="vertical-align: middle;"><h3><a href="bysoundalone.net">bysoundalone.net</a></h3></span>
  <p>&nbsp;</p>
  <!-- This non-breaking space controls the amount of space under the page title and needs to be adjusted based on how long the page subtitle ends up being so that the body copy doesn't start next to the picture. (Or does, if you want that.) -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</header>

<!-- {%-include back_link.html-%} -- let's not use this because we have the above matter -->

<h1>{{ page.title }}</h1>

{{ content }}
