---
layout: default
---


<div>
  <img style="float:left; vertical-align:middle; padding-right:20px;" alt="Pigeon graphic" src="/assets/images/pigeon-logo.png" height=50px>
  <strong><a href="https://bysoundalone.net/" style="color:DimGray;">bysoundalone.net</a><strong><br>
  <strong><a href="https://bysoundalone.net/archive" style="color:DimGray;">archive</a><strong><br>
  <p>&nbsp;</p>
</div>
<!-- {%-include back_link.html-%} -->

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>
